body {
  background-image: url(./images/topography.svg), linear-gradient(110deg, #f93d66, #6d47d9);
  background-size: 340px, auto;
  margin: 0;
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";

}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;

}

.close {
  top: 10px;
  position: absolute;
  right: 10px;
  font-size: 50px;
  line-height: 30px;
}

.mobileMenu {
  background-color: azure;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  font-weight: 700;
  display: none;

}

.headerWrapper {
  display: flex;
  gap: 1rem;


}

@media (max-width: 1200px) {
  header {
    display: none;

  }
}

.menuButton {
  background-color: #ffc600;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  font-size: 22px;
  padding: 4px;
  display: inline;
}

@media (min-width:1200px) {
  .menuButton {
    display: none;
  }
}

header .text {
  background-color: #ffc600;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  font-size: 20px;
  font-weight: 900;

}

.topWrapper {
  display: flex;
  gap: 1rem;
  margin-top: 40px;
}

.top {
  height: 400px;
  width: 65%;
  position: relative;
  display: flex;
}



.pictureTitle {
  position: absolute;
  background-color: #ffc600;
  top: 45%;
  left: 4%;
  font-size: 25px;
  padding: 10px;
  font-weight: 900;

}

.pictureText {
  position: absolute;
  background-color: #ffc600;
  top: 60%;
  left: 4%;
  padding: 10px;
  font-weight: 900;
}

.top img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.price {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 20px;
  width: 35%;
}

.priceText {
  background-color: #ffc600;
  height: 50%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.priceText b {
  margin-bottom: 5px;
}

.priceText span {
  font-weight: 300;
  font-size: 50px;
}



.features {
  display: flex;
  gap: 1rem;
}

.feature {
  background-color: azure;
  width: 25%;
  margin-top: 16px;
  padding: 10px;
  text-align: center;

}

.feature .icon {
  font-size: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.feature h4 {
  margin: 0.5rem;
}

.featureInfo {
  background-color: azure;
  margin-top: 20px;
  padding: 30px;
  display: flex;

}

.infoText {
  padding: 50px;
}

.infoText p {
  font-weight: 700;
}

.infoText a {
  background-color: #ffc600;
  padding: 10px;
  margin-top: 5px;
  display: inline-block;
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

.infoText a:hover {
  background-color: #ae42a4;
  color: azure;

}

@media (max-width: 1200px) {
  .topWrapper {
    display: block;
    width: 100%;
  }

  .top {
    width: 100%;
  }

  .price {
    margin: 10px 0;
    width: 100%;
  }

  .features {
    margin: 10px;
    flex-wrap: wrap;
  }

  .feature {
    width: 100%;
  }

  .featureInfo {
    flex-wrap: wrap;
  }

  .featureInfo img {
    width: 100%;
  }

}

.title {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto 1fr;
  gap: 1rem;

}

.line {
  background: linear-gradient(to left, #ffc600, transparent);
  height: 10px;
}

.line:last-child {
  background: linear-gradient(to right, #ffc600, transparent);
}

.gallery {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.box {
  background-color: darkblue;
  height: 200px;
}

.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}